Michael Ricardo DS 2500 Project Trading torch

In [602]:
from sklearn.linear_model import LinearRegression
from datetime import datetime, timedelta
import yfinance as yf
import pandas as pd
import numpy as np
import pandas_ta as ta
from sklearn.model_selection import train_test_split

In [603]:
def fetch_ticker_data(ticker):
    """
    Gets the market data for a given date and ticker.
    Fetches from yfinance library.

    Args:
        years ago (int): Representing the most recent day for stock entries 
        ticker(str): Representing the offical company stock ticker
    Returns
        df (DataFrame): DataFrame with Stock pricing data and history data
    """
    most_recent = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')
    start_date = '2014-12-01'
    
    
    stock_data = yf.Ticker(ticker)
    returning_data = stock_data.history(start = start_date, end= most_recent)

    return returning_data

In [604]:
'''
#13 week, 5 year, and 10 year indexes, will be going by their tickers for this project
tickers = ['^IRX', '^FVX', '^TNX']
df_master_bonds = pd.DataFrame()
for ticker in tickers:
    data = fetch_ticker_data(ticker)
    data = data.drop(columns=['Open', 'Dividends', 'Stock Splits', 'Volume'])
    data.index = pd.to_datetime(data.index).normalize()
    df_master_bonds[f'High_{ticker}'] = data['High']
    df_master_bonds[f'Low_{ticker}'] = data['Low']
    df_master_bonds[f'Close_{ticker}'] = data['Close']
'''

"\n#13 week, 5 year, and 10 year indexes, will be going by their tickers for this project\ntickers = ['^IRX', '^FVX', '^TNX']\ndf_master_bonds = pd.DataFrame()\nfor ticker in tickers:\n    data = fetch_ticker_data(ticker)\n    data = data.drop(columns=['Open', 'Dividends', 'Stock Splits', 'Volume'])\n    data.index = pd.to_datetime(data.index).normalize()\n    df_master_bonds[f'High_{ticker}'] = data['High']\n    df_master_bonds[f'Low_{ticker}'] = data['Low']\n    df_master_bonds[f'Close_{ticker}'] = data['Close']\n"

In [605]:
#Data for the IRX, Thirteen_Week
ticker = '^IRX'
Thirteen_Week = fetch_ticker_data(ticker)
Thirteen_Week = Thirteen_Week.drop(columns=['Open','Dividends', 'Stock Splits', 'Volume', 'High', 'Low'])
Thirteen_Week.index = pd.to_datetime(Thirteen_Week.index).date
Thirteen_Week = Thirteen_Week.rename(columns={'Close': '13_week_close'})
Thirteen_Week

            13_week_close
2014-12-01          0.007
2014-12-02          0.015
2014-12-03          0.005
2014-12-04          0.013
2014-12-05          0.010
...                   ...
2024-11-22          4.415
2024-11-25          4.405
2024-11-26          4.395
2024-11-27          4.385
2024-11-29          4.373

[2516 rows x 1 columns]

In [606]:
#Data for the FVX, Five Year
ticker = '^FVX'
Five_Year = fetch_ticker_data(ticker)
Five_Year = Five_Year.drop(columns=['Open','Dividends', 'Stock Splits', 'Volume', 'High', 'Low'])
Five_Year.index = pd.to_datetime(Five_Year.index).date
Five_Year = Five_Year.rename(columns={'Close': '5_year_close'})

In [607]:
#Data for the TNX, Ten Year
ticker = '^TNX'
Ten_Year = fetch_ticker_data(ticker)
Ten_Year = Ten_Year.drop(columns=['Open','Dividends', 'Stock Splits', 'Volume'])
Ten_Year.index = pd.to_datetime(Ten_Year.index).date
Ten_Year = Ten_Year.rename(columns={'High': '10_year_high', 'Low': '10_year_low', 'Close': '10_year_close'})

Adding variables not related to security itself:

In [608]:
#Data for the S&P 500 & VIX, these will be used as variables 
ticker = '^GSPC'
SP500 = fetch_ticker_data(ticker)
SP500 = SP500.drop(columns=['Open', 'High', 'Low', 'Dividends', 'Stock Splits', 'Volume'])
SP500.index = pd.to_datetime(SP500.index).date
SP500 = SP500.rename(columns={'Close': 'S&P500_close'})

ticker = '^VIX'
VIX = fetch_ticker_data(ticker)
VIX = VIX.drop(columns=['Open', 'High', 'Low', 'Dividends', 'Stock Splits', 'Volume'])
VIX.index = pd.to_datetime(VIX.index).date
VIX = VIX.rename(columns={'Close': 'VIX_close'})

In [609]:
def external_csv(csv):
    '''
    Pulling in a csv, setting the 'Date column as the index and making it a proper datetime object
    Args:
        csv (CSV) - Data collection with Date column along with pricing data 
    Returns
        df (DataFrame): DataFrame     
    '''
    csv_read = pd.read_csv(csv)
    csv_read['Date'] = csv_read['Date'].str.replace('/', '-')
    csv_read['Date'] = pd.to_datetime(csv_read['Date'])
    csv_read = csv_read.set_index('Date')

    return csv_read

In [610]:
#CPI data CSV
cpi_csv = 'CPI_Data_10.csv'
cpi = external_csv(cpi_csv)
cpi = cpi.rename(columns={'Close': 'CIP_close'})

In [611]:
#Data for the 1 year Treasury Bill (Pulled in via CSV)
one_year_csv = '1year_bond_master.csv'
One_Year = external_csv(one_year_csv)
One_Year = One_Year.drop(columns='Open')

In [612]:
#Further cleaning needed for the 1 year, flipping the rows, eliminating % sign within each
One_Year = One_Year.iloc[::-1] 
One_Year = One_Year.drop(columns=['High', 'Low'])
One_Year['Close'] = One_Year['Close'].str.replace('%', '')
    
One_Year = One_Year.rename(columns={'Close': '1_year_close'})
One_Year

           1_year_close
Date
2014-12-01         0.12
2014-12-02         0.12
2014-12-03         0.13
2014-12-04         0.13
2014-12-05         0.15
...                 ...
2024-11-20         4.37
2024-11-21         4.39
2024-11-22         4.41
2024-11-25         4.37
2024-11-26         4.36

[2529 rows x 1 columns]

Section will be for data curration and preperation for regression

In [613]:
def security_editor(df, close_col, high_col,low_col):
    """
    Gaining volatility and moving index metrics from the bond, bill, or note functioning as df. Yield Volatilioty represents the historical volatility for an asset over a given
    time though its Standerd deviation. Simple moving average measures the average closing price for a week & month of an asset. 

    Args:
        df (dataframe): Specific asset df imported with Close, Volume, High, and Low data for each day of market activity 
    Returns
        df(dataframe): Added ATR. SMA_7 and SMA_30 cols for given securuity. Removing high and low cols
    """
    df['Yield_STDEV'] = ta.stdev(df[close_col], length = 14)
    df = df.drop(columns=[high_col, low_col])
 
    df['SMA_7'] = ta.sma(df[close_col], length=10) 
    df['SMA_30'] = ta.sma(df[close_col], length=50)

    return df

In [614]:
df = Ten_Year
close_col = '10_year_close'
high_col = '10_year_high'
low_col = '10_year_low'
Ten_Year_Complete = security_editor(Ten_Year, close_col, high_col, low_col)
print(Ten_Year)

            10_year_high  10_year_low  10_year_close  Yield_STDEV
2014-12-01         2.218        2.155          2.218          NaN
2014-12-02         2.289        2.243          2.285          NaN
2014-12-03         2.307        2.278          2.287          NaN
2014-12-04         2.298        2.253          2.257          NaN
2014-12-05         2.331        2.252          2.307          NaN
...                  ...          ...            ...          ...
2024-11-22         4.430        4.383          4.410     0.054405
2024-11-25         4.332        4.261          4.265     0.058041
2024-11-26         4.324        4.281          4.302     0.060994
2024-11-27         4.275        4.227          4.242     0.070597
2024-11-29         4.225        4.172          4.178     0.086214

[2516 rows x 4 columns]

In [615]:

def combine(df_first, dfs):
    """
    Combining the data from other indexes to be used as variabels
    Args:
        df_main (dataframe): Main secuirty which will have the others cols added
        df_1 (dataframe): Sub index which will be added to df_main, will be used for S&P 500
        df_2 (dataframe): Sub index which will be added to df_main, will be used for VIx 
    Returns:
        df_mained: Combined df_main with df1 & df2
    """
    for df in dfs:
        df_first = pd.concat([df_first, df], axis=1)
    return df_first

In [616]:
#merging the dfs from above into the 10 year bond
dfs = [SP500, VIX, Five_Year, cpi, One_Year]
df_first = Ten_Year_Complete
final_df = combine(df_first, dfs)
final_df = final_df.dropna(subset=['10_year_close' , 'SMA_7', 'SMA_30', '10_year_close', 'S&P500_close', '1_year_close'])
final_df

,10_year_close,Yield_STDEV,SMA_7,SMA_30,S&P500_close,VIX_close,5_year_close,CIP_close,1_year_close
2015-02-11,1.988,0.106079,1.8356,2.01794,2068.530029,16.959999,1.514,NaN,0.23
2015-02-12,1.986,0.114389,1.8591,2.01330,2088.479980,15.340000,1.497,NaN,0.23
2015-02-13,2.021,0.124403,1.8937,2.00802,2096.989990,14.690000,1.516,NaN,0.23
2015-02-17,2.145,0.146688,1.9409,2.00518,2100.340088,15.800000,1.619,NaN,0.22
2015-02-18,2.066,0.148306,1.9695,2.00136,2099.679932,15.450000,1.520,NaN,0.21
...,...,...,...,...,...,...,...,...,...
2024-11-20,4.406,0.056236,4.3883,4.07498,5917.109863,17.160000,4.275,NaN,4.37
2024-11-21,4.432,0.057928,4.3974,4.09002,5948.709961,16.870001,4.305,NaN,4.39
2024-11-22,4.410,0.054405,4.4078,4.10522,5969.339844,15.240000,4.298,NaN,4.41
2024-11-25,4.265,0.058041,4.4035,4.11810,5987.370117,14.600000,4.172,NaN,4.37
2024-11-26,4.302,0.060994,4.3905,4.13130,6021.629883,14.100000,4.190,NaN,4.36

Regressions:

In [617]:
def add_bias_column(X):
    """
    Args:
        X (array): can be either 1-d or 2-d
    
    Returns:
        Xnew (array): the same array, but 2-d with a column of 1's in the first spot
    """
    
    # If the array is 1-d
    if len(X.shape) == 1:
        Xnew = np.column_stack([np.ones(X.shape[0]), X])
    
    # If the array is 2-d
    elif len(X.shape) == 2:
        bias_col = np.ones((X.shape[0], 1))
        Xnew = np.hstack([bias_col, X])
        
    else:
        raise ValueError("Input array must be either 1-d or 2-d")
    return Xnew

In [618]:
from sklearn.metrics import mean_squared_error, r2_score
def linreg_predict(features, dependent, df):
    """Predicts vals for a given array, and returns dct of mse and r^2
    Args:
        Xnew: (an array, either 1-d or 2-d which includes all the $p$ predictor features, not including bias term)
        ynew: (a 1-d array which includes all corresponding response values to `Xnew`)
        m: (a 1-d array of length $p+1$ which contains the coefficients from the `line_of_best_fit` function)
    Returns:
        dct: dictionary, dct of mse and r^2 vals
    """

    features_df = df[features]
    target_series = df[dependent]
    X_train, X_test, y_train, y_test = train_test_split(features_df, target_series, random_state=30, test_size = 0.3)
    linear_regression_model = LinearRegression()
    linear_regression_model.fit(X_train, y_train)
    
    
    dct = {}
    
    
    dct["ypreds"] = linear_regression_model.predict(X_test)
    dct["resids"] = y_test - dct["ypreds"]
    dct["mse"] = mean_squared_error(y_test, dct["ypreds"])
    dct["r2"] = r2_score(y_test, dct["ypreds"])

    return dct

In [619]:
m = linreg_predict(features=['S&P500_close', 'VIX_close', '1_year_close', 'Yield_STDEV'], dependent='10_year_close', df=final_df)

In [620]:
m

{'ypreds': array([3.6353012 , 1.88123544, 1.33609753, 1.42054326, 1.4500577 ,
        2.74552262, 2.30150827, 2.72002148, 2.80628704, 3.07815151,
        1.43568223, 4.36560813, 2.56287935, 1.43469046, 2.75992583,
        1.25417467, 2.8921958 , 1.9280435 , 2.32435489, 4.16646449,
        2.84658799, 2.0146929 , 4.19697044, 1.62637254, 1.79561785,
        1.82704043, 1.22425759, 1.41996607, 1.70457835, 2.93054772,
        1.30994849, 1.79022626, 2.56695658, 1.92665389, 1.60749403,
        1.70153593, 4.29250457, 2.90544148, 2.83181586, 2.80972692,
        2.31442246, 1.84008474, 2.2889507 , 2.39336757, 2.22258515,
        1.93389155, 2.28847499, 1.80007605, 2.2242807 , 1.44482573,
        1.37894458, 1.3288882 , 4.07145102, 2.39741002, 2.52942525,
        1.25651544, 1.44202456, 1.26079208, 1.91361269, 4.18725601,
        4.04538321, 1.44196776, 1.87128916, 1.47612173, 2.80418805,
        4.19092008, 1.41229848, 4.03370269, 1.38610791, 4.44248509,
        2.66048958, 4.15575134, 2.87952355, 3.43871384, 0.86379095,
        3.85351502, 3.84895141, 4.13033666, 1.42005654, 3.99091023,
        3.84893219, 1.93109218, 1.65172608, 1.62315387, 4.09156775,
        2.79970155, 2.44765555, 2.35915857, 1.19196998, 3.48703541,
        1.75522754, 2.87650776, 2.53721735, 4.13519163, 3.64200039,
        4.25289473, 2.21003868, 2.52798758, 1.72106824, 3.98687675,
        1.24855846, 2.33456537, 3.84312546, 1.29259892, 1.21655077,
        0.71316613, 2.36765628, 2.83075155, 3.00818054, 2.84669832,
        1.40660939, 1.48184166, 1.76863772, 4.37514006, 3.50157842,
        1.37972936, 4.14514766, 4.307378  , 1.59992626, 1.36112579,
        1.82278723, 2.0797955 , 2.72265475, 1.05769105, 4.14717658,
        4.0509788 , 2.55886404, 1.20349041, 1.44733218, 1.73329714,
        4.12187252, 1.30921958, 2.51494759, 2.80596205, 2.74249809,
        4.26484826, 4.36499762, 2.46903301, 2.88895335, 3.71353248,
        4.01832037, 4.31172031, 4.36319202, 4.18775698, 2.20839613,
        2.20011578, 1.96155819, 2.20667829, 2.80617509, 1.59197881,
        1.40308913, 1.30205335, 2.88964476, 4.23601647, 2.10194703,
        4.24667608, 1.21226551, 2.28896471, 3.4482576 , 2.11102141,
        3.44462916, 4.29913859, 1.87401797, 2.32887312, 1.29034702,
        4.40516039, 4.33213886, 4.39918586, 1.7816806 , 1.37163607,
        2.74667655, 2.09006813, 1.76732044, 2.76407212, 4.16522905,
        4.02619167, 1.44773522, 2.55307286, 1.83596391, 4.05550872,
        4.03775397, 1.98128502, 3.94457076, 2.72301889, 2.28082584,
        4.26077599, 4.18499559, 2.70408513, 2.06376615, 1.97732153,
        1.87960107, 2.2621564 , 3.12957805, 1.41461458, 1.61350301,
        3.88236273, 4.35966035, 1.67716772, 2.5300376 , 1.23191426,
        1.23669135, 1.39325958, 3.4636032 , 2.81062733, 3.51543694,
        1.42009   , 2.07389721, 1.28960492, 2.50495631, 3.81169653,
        1.31377234, 3.9372336 , 1.33120791, 2.44595347, 1.1606181 ,
        2.21568499, 2.13001412, 1.03156798, 2.0048696 , 2.55031727,
        4.1772046 , 3.47145591, 1.75680009, 2.20823146, 1.81000741,
        1.37212703, 1.82303858, 1.79328215, 2.28092084, 1.37632524,
        2.10637805, 2.20366762, 4.07997965, 3.45735161, 1.6706952 ,
        1.21221034, 2.53331926, 1.97341246, 2.86188349, 1.78324796,
        1.40264673, 2.68753866, 1.15106854, 2.40849636, 2.48318231,
        2.59851515, 2.25940682, 4.02066448, 2.81419665, 3.98564388,
        2.27250575, 1.22583297, 2.57299381, 2.36679733, 4.22792054,
        1.35335679, 1.86351292, 3.70037184, 3.98371832, 1.80542477,
        3.10946406, 2.2650401 , 2.06619974, 4.22861906, 1.28557884,
        2.70722265, 1.7332375 , 3.65757691, 3.82442297, 1.26911808,
        3.55099626, 1.66944995, 2.97380586, 2.78979492, 1.68785466,
        3.95099453, 2.3229905 , 4.07876857, 3.99423799, 1.36211309,
        1.2385478 , 2.61268886, 4.03557533, 2.25003024, 2.25014693,
        1.79995379, 1.35159449, 4.22167321, 1.12525242, 1.38882832,
        1.74698548, 1.76833021, 2.94218796, 4.42277817, 4.10646545,
        3.44542578, 1.53579622, 3.82148325, 1.13033166, 4.33963425,
        2.91969409, 3.0811315 , 1.71808831, 3.17973126, 1.35137298,
        1.7520615 , 1.78522845, 2.33564389, 1.72214313, 2.71730408,
        3.98536158, 1.44860862, 1.69365373, 1.68547095, 2.4355398 ,
        1.7213135 , 1.14713095, 2.98297514, 3.0065933 , 3.45433378,
        4.25393498, 1.30151045, 2.2326401 , 1.93743751, 4.03759638,
        1.24566307, 1.58824824, 1.76705093, 1.24168984, 2.82048641,
        2.5253255 , 2.53849541, 1.70511851, 4.18752114, 2.86533069,
        1.73273487, 2.34636521, 4.14281785, 1.36225222, 3.2327604 ,
        2.23092783, 2.78354922, 1.4368297 , 2.81040578, 1.69343183,
        2.56924035, 1.79732412, 2.26347098, 2.1020412 , 1.42375123,
        1.40608825, 1.70952797, 4.19571695, 2.47641834, 2.32187261,
        2.10691418, 1.70472885, 1.79075384, 1.44311607, 1.67168975,
        2.4333156 , 1.87922206, 1.4071693 , 1.3880462 , 2.75705429,
        2.40515925, 4.19304904, 1.9327681 , 0.95070735, 2.41693937,
        1.52534914, 1.41352344, 1.77839828, 1.33593254, 2.70231447,
        3.55097503, 1.36535267, 1.92548618, 2.76306576, 1.99616847,
        4.16900131, 3.99396215, 2.03454892, 2.15907019, 4.37994418,
        2.21937401, 2.85316433, 2.88480954, 1.06609028, 4.33688605,
        1.40386928, 1.74815532, 2.35019101, 1.28117008, 2.36870861,
        1.33391942, 2.4554108 , 4.3539297 , 1.72979436, 4.06200817,
        2.89019367, 2.24544961, 3.88285084, 1.64891746, 1.40918747,
        3.63662731, 2.38111397, 2.41015814, 2.28097972, 2.26195347,
        2.19093447, 1.55347412, 1.22674397, 2.32360723, 2.22191307,
        1.69233981, 2.20172039, 1.18978043, 2.83361547, 3.38977791,
        1.70274414, 1.76359937, 2.51423064, 4.00648445, 4.44361237,
        1.82159781, 2.02532877, 2.29486248, 2.00116151, 1.84369952,
        2.45429493, 1.88330222, 1.46381936, 1.69933871, 2.16308821,
        1.42520661, 1.85292819, 1.76482419, 1.40514062, 2.78416347,
        2.73977497, 2.50937305, 1.81116547, 4.37702689, 1.7880288 ,
        2.27876776, 2.5407603 , 4.36173582, 1.1357183 , 1.87052754,
        4.25968083, 3.8264284 , 1.38147497, 2.00091469, 1.31868235,
        2.80419259, 1.2004263 , 2.52685157, 1.19482102, 1.17373624,
        3.95805416, 2.85282623, 4.39689298, 1.01320634, 1.75229859,
        3.9944733 , 2.84465246, 1.59600814, 1.35762503, 1.26196542,
        1.35606226, 3.51427034, 4.21937829, 1.41461632, 4.05716966,
        1.61101326, 2.83546245, 2.81094991, 2.45898689, 2.5048107 ,
        1.08044267, 2.60586038, 2.09698631, 3.80332213, 4.13454087,
        2.2026462 , 2.45962704, 2.79533158, 2.7713038 , 1.88882477,
        1.49850375, 2.88486535, 1.20963687, 2.27220856, 2.98227823,
        1.25260245, 1.21046747, 2.29750526, 4.11880971, 2.87458873,
        1.43070956, 1.45650942, 0.94190209, 2.06308016, 2.4610425 ,
        2.83334278, 1.4109596 , 3.96299128, 2.24561011, 2.82497998,
        1.88458699, 2.35437604, 1.40484906, 2.30777079, 1.27313252,
        4.04544023, 3.63463258, 1.24819403, 2.28937668, 2.8161867 ,
        4.36710322, 1.17925665, 1.86783429, 1.99519329, 3.48105133,
        1.66813844, 1.83620859, 1.44104778, 1.41122671, 1.34457389,
        3.98135982, 1.18958602, 2.70122948, 4.07812898, 1.85474658,
        1.4256074 , 2.83943952, 1.69934676, 1.2051712 , 2.05853965,
        1.92400646, 1.86192674, 1.74217793, 1.69671707, 3.8602657 ,
        1.34627272, 2.23987534, 1.54617679, 1.07415503, 4.12413377,
        1.45922262, 3.94478703, 4.07777521, 2.69526944, 4.00652332,
        3.70250147, 2.25049752, 2.34699894, 2.46661975, 1.3162002 ,
        1.42703082, 2.28675501, 1.92359726, 4.25599474, 1.86551641,
        1.33387538, 2.38878785, 2.18465847, 4.2024904 , 1.91409345,
        3.98962969, 2.35473126, 4.19816113, 2.19653432, 1.85708439,
        1.79763615, 2.31329794, 1.78689176, 1.76258923, 2.06272431,
        1.71076412, 1.34526113, 3.93331934, 1.43317877, 2.81664365,
        4.13562127, 2.22389831, 2.04318022, 2.35476764, 3.2042499 ,
        1.24057338, 1.43532508, 1.38249139, 2.49128468, 2.03044571,
        2.32322899, 2.04340214, 4.11516107, 4.43687127, 2.82493995,
        2.80980599, 2.83734405, 4.43248215, 4.07508206, 3.63846192,
        2.72352804, 2.65693509, 1.26151746, 1.44589903, 4.24837559,
        1.68559047, 2.20897151, 2.85193724, 2.22044955, 2.77256876,
        2.1374347 , 4.33948889, 2.91066914, 3.08579063, 1.19938075,
        1.28279152, 2.42144004, 1.7043478 , 4.24279827, 2.20922474,
        4.24291666, 2.83370242, 1.729423  , 2.63852858, 1.7506024 ,
        4.03433967, 1.98752675, 2.39952715, 1.2824743 , 1.78548695,
        1.69514665, 4.14554562, 2.12610207, 2.71422047, 2.49256964,
        2.0852789 , 2.75713545, 1.76345775, 4.40436974, 2.82026448,
        2.24243837, 1.64489551, 2.83191342, 3.99992852, 1.62494563,
        2.35293437, 4.27128512, 2.80927958, 4.38803877, 4.03145474,
        2.35057672, 2.14730098, 4.03660556, 1.34695978, 2.44485711,
        4.36728165, 1.76726404, 1.38608755, 2.42764898, 2.37722324,
        2.7086121 , 1.83554713, 2.81309186, 2.79046002, 1.74020171,
        1.85471488, 2.86134195, 2.31192837, 2.4185179 , 1.19843553,
        1.71955501, 2.32655904, 1.15527094, 2.36309919, 2.75245645,
        1.28736775, 1.75822906, 4.19608874, 1.37886154, 3.40475357,
        1.83440047, 4.04912098, 2.83784718, 4.36978881, 4.34747766,
        1.289416  , 1.6801917 , 1.49725651, 2.33536491, 1.26935688,
        2.03866979, 2.57617378, 4.01006448, 1.77232926, 1.15198747,
        1.02816827, 4.42927279, 2.48916386, 2.3411262 , 1.58632085,
        1.6769844 , 1.81041895, 2.84697898, 1.9294974 , 1.3920279 ,
        4.38030639, 2.37303479, 3.86142983, 2.32948897, 1.78141233,
        2.35228322, 2.19247589, 2.80939968, 2.04623604, 2.54983614,
        2.30320714, 1.4127271 , 1.83592307, 1.34298261, 2.30286965,
        2.87859551, 4.22232788, 1.87089724, 3.82060869, 1.2854267 ,
        2.081932  , 4.1098131 , 4.05099226, 1.36714617, 1.84675065]),
 'resids': 2024-10-17    0.460699
 2016-04-06   -0.126235
 2020-08-26   -0.649098
 2021-10-15    0.155457
 2021-11-02    0.098942
                 ...
 2016-12-14    0.443068
 2024-04-01    0.219187
 2023-03-09   -0.125992
 2020-11-25   -0.489146
 2016-08-26   -0.211751
 Name: 10_year_close, Length: 735, dtype: float64,
 'mse': 0.13821232786779505,
 'r2': 0.8762218412049956}

In [ ]:
def add_bias_column(X):
    """
    Args:
        X (array): can be either 1-d or 2-d
    
    Returns:
        Xnew (array): the same array, but 2-d with a column of 1's in the first spot
    """
    
    # If the array is 1-d
    if len(X.shape) == 1:
        Xnew = np.column_stack([np.ones(X.shape[0]), X])
    
    # If the array is 2-d
    elif len(X.shape) == 2:
        bias_col = np.ones((X.shape[0], 1))
        Xnew = np.hstack([bias_col, X])
        
    else:
        raise ValueError("Input array must be either 1-d or 2-d")

    return Xnew

In [ ]:
def line_of_best_fit(X, y):
    '''
    This function computes the line of best fit by providing the coefficients for the slope(s) 
    and intercept using the Ordinary Least Squares (OLS) method. It achieves this by projecting 
    the values of y onto the span of X (the space defined by the independent variables).
    
    X represents out input data, a numpy array, and acts as out indepedet variable. y represents the data we 
    are trying to predict, a numpy array of the same length as X, and acts as our as a dependent variable.
    
    Output = Coefficants as an array, first elm being the intercept accounted for with the 'add_bias_column' 
    and second being the intercept. Can be summarized as the line of best foit for predicted y values on X.
    '''
    proper_X = add_bias_column(X)
    
    vector = np.matmul(np.linalg.inv(np.matmul(proper_X.T, proper_X)), np.matmul(proper_X.T, y))
       
    return vector

In [ ]:
def linreg_predict(Xnew, ynew, m):
    '''
    This function is used to gage the predicted values, residual values, MSE (Mean Squared Error), and r2_score to analysze a
    line of best fit projecttion,
    
    Xnew is either a 1D or 2D array which is the data used as 'predictor fatures' in predicitng y. Does not contain a bias column
    Ynew is a 1d array and can be summrized as the values given by multiple Xnew and m
    M is a 1d arrat represented as the found coeffeicint line of best fit values for the given data within the lin_of_best function
    
    Output = dct with ypreds, resids, mse, and r2 as a measurement of the current predicted values of y compared to the true
    values. 
    
    '''
    proper_X = add_bias_column(Xnew)
    
    ypreds = np.matmul(proper_X, m)
    
    resids = ynew - ypreds
    
    mse = np.mean(resids**2)
    
    r2 = r2_score(ynew, ypreds)
    
    final_dct = {
        'ypreds': ypreds,
        'resids': resids,
        'mse': mse,
        'r2': r2        
    }
    
    
    return final_dct

In [ ]:
mercy_x

In [ ]:
crossval = train_test_split(mercy_x, 
                            mercy_y,
                            test_size=0.3)

Xtrain, Xtest, ytrain, ytest = crossval