Michael Ricardo DS 2500 Project Trading torch

In [14]:
from datetime import datetime, timedelta
import yfinance as yf
import pandas as pd
import numpy as np
import pandas_ta as ta

In [15]:
def fetch_ticker_data(ticker, years_ago= 10):
    """
    Gets the market data for a given date and ticker.
    Fetches from yfinance library.

    Args:
        years ago (int): Representing the most recent day for stock entries 
        ticker(str): Representing the offical company stock ticker
    Returns
        df (DataFrame): DataFrame with Stock pricing data and history data
    """
    most_recent = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')
    ten_years_ago = (datetime.today() - timedelta(days= years_ago * 365)).strftime('%Y-%m-%d') 
    
    
    stock_data = yf.Ticker(ticker)
    returning_data = stock_data.history(start = ten_years_ago, end= most_recent)

    return returning_data

In [39]:
#Data for the 13 Week Treasury Bill 
ticker = '^IRX'
thirteen_week_data = fetch_ticker_data(ticker)
thirteen_week_data = thirteen_week_data.drop(columns=['Open', 'Dividends', 'Stock Splits', 'Volume'])
thirteen_week_data.index = thirteen_week_data.index.tz_convert('UTC')
thirteen_week_data
file_path = '13_week_treasury.csv'  # Specify the output file path
thirteen_week_data.to_csv(file_path, index=True)  # Save without the index column
thirteen_week_data

                            High    Low  Close
Date
2014-12-01 06:00:00+00:00  0.013  0.005  0.007
2014-12-02 06:00:00+00:00  0.020  0.015  0.015
2014-12-03 06:00:00+00:00  0.015  0.003  0.005
2014-12-04 06:00:00+00:00  0.015  0.003  0.013
2014-12-05 06:00:00+00:00  0.015  0.010  0.010
...                          ...    ...    ...
2024-11-20 06:00:00+00:00  4.415  4.410  4.410
2024-11-21 06:00:00+00:00  4.413  4.400  4.413
2024-11-22 06:00:00+00:00  4.420  4.408  4.415
2024-11-25 06:00:00+00:00  4.413  4.403  4.405
2024-11-26 06:00:00+00:00  4.408  4.395  4.395

[2514 rows x 3 columns]

In [67]:
#Data for the 1 year Treasury Bill (Pulled in via CSV)
one_year_csv = '1year_bond_master.csv'
one_year_data = pd.read_csv(one_year_csv)
one_year_data['Date'] = one_year_data['Date'].str.replace('/', '-')
one_year_data['Date'] = pd.to_datetime(one_year_data['Date'])
one_year_data = one_year_data.set_index('Date')
one_year_data = one_year_data.drop(columns='Open')
one_year_data = one_year_data.iloc[::-1] #LOOK AT ANOTHER WAY TO DO THIS
one_year_data

             High    Low  Close
Date
2014-12-01  0.13%  0.11%  0.12%
2014-12-02  0.14%  0.11%  0.12%
2014-12-03  0.14%  0.11%  0.13%
2014-12-04  0.14%  0.12%  0.13%
2014-12-05  0.16%  0.12%  0.15%
...           ...    ...    ...
2024-11-20  4.37%  4.29%  4.37%
2024-11-21  4.39%  4.34%  4.39%
2024-11-22  4.41%  4.36%  4.41%
2024-11-25  4.41%  4.36%  4.37%
2024-11-26  4.40%  4.34%  4.36%

[2529 rows x 3 columns]

In [70]:
#Eliminating % symbols within the df
titles = ['High', 'Low','Close']
for title in titles:
    one_year_data[title] = one_year_data[title].str.replace('%', '')
one_year_data

            High   Low Close
Date
2014-12-01  0.13  0.11  0.12
2014-12-02  0.14  0.11  0.12
2014-12-03  0.14  0.11  0.13
2014-12-04  0.14  0.12  0.13
2014-12-05  0.16  0.12  0.15
...          ...   ...   ...
2024-11-20  4.37  4.29  4.37
2024-11-21  4.39  4.34  4.39
2024-11-22  4.41  4.36  4.41
2024-11-25  4.41  4.36  4.37
2024-11-26  4.40  4.34  4.36

[2529 rows x 3 columns]

In [51]:
#Data for the 5 Week Treasury Bill 
ticker = '^FVX'
five_year_data = fetch_ticker_data(ticker)
five_year_data = five_year_data.drop(columns=['Open', 'Dividends', 'Stock Splits', 'Volume'])
five_year_data.index = five_year_data.index.tz_convert('UTC')
five_year_data.index = five_year_data.index.date
five_year_data

             High    Low  Close
2014-12-01  1.521  1.454  1.521
2014-12-02  1.591  1.554  1.590
2014-12-03  1.621  1.585  1.608
2014-12-04  1.623  1.579  1.587
2014-12-05  1.697  1.589  1.682
...           ...    ...    ...
2024-11-20  4.300  4.255  4.275
2024-11-21  4.314  4.243  4.305
2024-11-22  4.311  4.264  4.298
2024-11-25  4.231  4.170  4.172
2024-11-26  4.224  4.172  4.190

[2514 rows x 3 columns]

In [34]:
#Data for the 10 Week Treasury Bill 
ticker = '^TNX'
ten_year_data = fetch_ticker_data(ticker)
ten_year_data = ten_year_data.drop(columns=['Open', 'Dividends', 'Stock Splits', 'Volume'])
ten_year_data.index = ten_year_data.index.tz_convert('UTC')
ten_year_data

                            High    Low  Close
Date
2014-12-01 06:00:00+00:00  2.218  2.155  2.218
2014-12-02 06:00:00+00:00  2.289  2.243  2.285
2014-12-03 06:00:00+00:00  2.307  2.278  2.287
2014-12-04 06:00:00+00:00  2.298  2.253  2.257
2014-12-05 06:00:00+00:00  2.331  2.252  2.307
...                          ...    ...    ...
2024-11-20 06:00:00+00:00  4.438  4.388  4.406
2024-11-21 06:00:00+00:00  4.438  4.377  4.432
2024-11-22 06:00:00+00:00  4.430  4.383  4.410
2024-11-25 06:00:00+00:00  4.332  4.261  4.265
2024-11-26 06:00:00+00:00  4.324  4.281  4.302

[2514 rows x 3 columns]

In [17]:
#Data for the S&P 500 
ticker = '^GSPC'
SP500_data = fetch_ticker_data(ticker)
SP500_data = SP500_data.drop(columns=['Open', 'High', 'Low', 'Dividends', 'Stock Splits', 'Volume'])
SP500_data.index = SP500_data.index.tz_convert('UTC')

Adding variables not related to security itself:

In [18]:
#CBOE Volatility Index (VIX)
ticker = '^VIX'
VIX_data = fetch_ticker_data(ticker)
VIX_data = VIX_data.drop(columns=['Open', 'High', 'Low', 'Dividends', 'Stock Splits', 'Volume'])
VIX_data.index = VIX_data.index.tz_convert("UTC")

Section will be for data curration and preperation for regression

In [19]:
def security_editor(df):
    """
    Gaining volume, volatility, and moving index metrics from the security in question. Averae True Range represents volatility for an asset over a weeks span/
    Simple moving average measures the average closing price for a week & month of a security. On-Balance volume takes into account volume movement within a seccurity.  

    Args:
        df (dataframe): Specific secuity df imported with Close, Volume, High, and Low data for each day of market activity 
    Returns
        df(dataframe): Added ATR. SMA_7, SMA_30, and OBV cols for given securuity. Removing high and low cols
    """
    df['ATR'] = ta.atr(df['High'], df['Low'], df['Close'], length=7)
    df = df.drop(columns=['High', 'Low'])
 
    df['SMA_7'] = ta.sma(df['Close'], length=10) 
    df['SMA_30'] = ta.sma(df['Close'], length=50)

    df['OBV'] = ta.obv(df['Close'], df['Volume'])
    return df

In [20]:
dis_refined = security_editor(dis_data)
print(dis_refined)

                                Close     Volume       ATR       SMA_7  \
Date
2014-12-01 05:00:00+00:00   25.625429  335256000       NaN         NaN
2014-12-02 05:00:00+00:00   25.527452  237395600       NaN         NaN
2014-12-03 05:00:00+00:00   25.816952  172253600       NaN         NaN
2014-12-04 05:00:00+00:00   25.718969  168178000       NaN         NaN
2014-12-05 05:00:00+00:00   25.609846  153275600       NaN         NaN
...                               ...        ...       ...         ...
2024-11-20 05:00:00+00:00  229.000000   35169600  3.937822  226.628999
2024-11-21 05:00:00+00:00  228.520004   42108300  4.010990  226.758000
2024-11-22 05:00:00+00:00  229.869995   38168300  3.817992  227.048999
2024-11-25 05:00:00+00:00  232.869995   90152800  3.773992  227.912999
2024-11-26 05:00:00+00:00  235.059998   45986200  3.620566  228.995999

                               SMA_30           OBV
Date
2014-12-01 05:00:00+00:00         NaN  3.352560e+08
2014-12-02 05:00:00+00:00         NaN  9.786040e+07
2014-12-03 05:00:00+00:00         NaN  2.701140e+08
2014-12-04 05:00:00+00:00         NaN  1.019360e+08
2014-12-05 05:00:00+00:00         NaN -5.133960e+07
...                               ...           ...
2024-11-20 05:00:00+00:00  227.266429  4.502532e+09
2024-11-21 05:00:00+00:00  227.386325  4.460423e+09
2024-11-22 05:00:00+00:00  227.538615  4.498592e+09
2024-11-25 05:00:00+00:00  227.874370  4.588744e+09
2024-11-26 05:00:00+00:00  228.244535  4.634731e+09

[2515 rows x 6 columns]

In [21]:
def security_combine(df_main, df1, df2):
    """
    Combining the data from other indexes to be used as variabels
    Args:
        df_main (dataframe): Main secuirty which will have the others cols added
        df_1 (dataframe): Sub index which will be added to df_main, will be used for S&P 500
        df_2 (dataframe): Sub index which will be added to df_main, will be used for VIx 
    Returns:
        df_mained: Combined df_main with df1 & df2
    """

    df1 = df1.reindex(df_main.index, method='nearest')  # Align S&P 500 data
    df2 = df2.reindex(df_main.index, method='nearest')  # Align VIX data
    
    df_main = pd.merge(df_main, df1.rename(columns={"Close": "S&P 500 Data"}), 
                       left_index=True, right_index=True, how="outer")

    # Add VIX Data
    df_main = pd.merge(df_main, df2.rename(columns={"Close": "VIX"}), 
                       left_index=True, right_index=True, how="outer")
    
    return df_main

In [22]:
df_combined = security_combine(dis_refined, SP500_data, VIX_data)
df_combined

,Close,Volume,ATR,SMA_7,SMA_30,OBV,S&P 500 Data,VIX
Date,,,,,,,,
2014-12-01 05:00:00+00:00,25.625429,335256000,NaN,NaN,NaN,3.352560e+08,2053.439941,14.160000
2014-12-02 05:00:00+00:00,25.527452,237395600,NaN,NaN,NaN,9.786040e+07,2066.550049,12.850000
2014-12-03 05:00:00+00:00,25.816952,172253600,NaN,NaN,NaN,2.701140e+08,2074.330078,12.500000
2014-12-04 05:00:00+00:00,25.718969,168178000,NaN,NaN,NaN,1.019360e+08,2071.919922,12.380000
2014-12-05 05:00:00+00:00,25.609846,153275600,NaN,NaN,NaN,-5.133960e+07,2075.370117,11.890000
...,...,...,...,...,...,...,...,...
2024-11-20 05:00:00+00:00,229.000000,35169600,3.937822,226.628999,227.266429,4.502532e+09,5917.109863,17.160000
2024-11-21 05:00:00+00:00,228.520004,42108300,4.010990,226.758000,227.386325,4.460423e+09,5948.709961,16.870001
2024-11-22 05:00:00+00:00,229.869995,38168300,3.817992,227.048999,227.538615,4.498592e+09,5969.339844,15.240000
2024-11-25 05:00:00+00:00,232.869995,90152800,3.773992,227.912999,227.874370,4.588744e+09,5987.370117,14.600000
2024-11-26 05:00:00+00:00,235.059998,45986200,3.620566,228.995999,228.244535,4.634731e+09,6021.629883,14.100000

In [23]:
def line_of_best_fit(X, y):
    """ 
    Finds line of best fit based off of a set of vectors
    Args:
        X (array): can be either 1-d or 2-d
        Y (array): can be either 1-d or 2-d
    Returns:
        p (array): 1d array, giving line and slope
    """

    if X.ndim == 1:
        X = add_bias_column(X).T
    else:
        X = X.T
    XTXinv = np.linalg.inv(np.matmul(X, X.T))
    p = np.matmul(XTXinv, np.matmul(X, y))
    return p

Regressions: